<form [formGroup]="form" (ngSubmit)="submit()">
  <!-- <div class="identity">
    <div class="first-name">
      <label>First name</label>
      <input type="text" formControlName="firstName" />
    </div>

    <div class="first-name">
      <label>Last name</label>
      <input type="text" formControlName="lastName" />
    </div>
  </div> -->

  <app-identity [formGroup]="form"></app-identity>

  <div class="age">
    <label>Age</label>
    <input type="number" formControlName="age" />
  </div>

  <button>Submit</button>
</form>

<div class="form-value">
  {{ form.value | json }}
</div>
